html{
    background: #CCFFC9;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 35px;
    padding: 40px;
    color: green;
    border-top: 20px solid green;
    background: white;
}

h1{
    font-size: 5em;
    margin: 0;
}

p{
    line-height: 1.4em;
}

h2{
    font-size: 4em;
}
address{
    font-size: 3em;
}

postSpace{
    display: flex;
}

post{
    padding: 10px;
}

#blog{
    border-top: 1px dotted #ccc;
}

.author{
    text-decoration: underline overline;
}

.datetime{
    text-decoration: underline;
}

.navigation{
    position: sticky;
    top: 0;
    left: 50px;
    color: green;
    padding: 5px;
    background: #D6F5D9;
}

.blog-post{
    border-bottom: 1px dotted #ccc;
}

.beach-pic{
    float: left;
}

@media (max-width : 400px) {
    .section-heading{
        font-size: 2em;
        margin: 0;
    }
    postSpace{
        background-color: yellow;
        display: none;
    }
    body {
        display: flex;
    }
}